.navbar.navbar-default {
	background-color: tan;
}

#nav-list {
	text-align: center;
}

#main-content ul {
	list-style: none;
}

#main-content h1 {
	margin:35px 0px;
	font-weight: bold;
}
.menu-item {
	background-color: gray;
	margin-bottom: 35px;
}
.menu-item h3 {
	font-size: 2em;
	font-weight: bold;
}